@font-face {
  font-family: "Epilogue";
  font-display: swap;
  font-weight: 500;
  src: url("./fonts/epilogue500.woff2") format("woff2"),
       url("./fonts/epilogue500.woff") format("woff");
}
@font-face {
  font-family: "Epilogue";
  font-display: swap;
  font-weight: 700;
  src: url("./fonts/epilogue700.woff2") format("woff2"),
       url("./fonts/epilogue700.woff") format("woff");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Epilogue", "Arial", sans-serif ;
  margin: 0;
  overflow-x: hidden;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.header-div {
  display: flex;
  align-items: center;
}
.header-div__site-logo {
  margin-right: 62px;
}
.header-nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.header-nav__items {
  position: relative;
  padding-top: 34px;
  padding-bottom: 20px;
}
.nav-items__list {
  display: none;
  position: absolute;
  top: 70px;
  left: -75px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 24px 24px 24px 54px;
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1491);
}
.nav-items__list--company {
  left: 0;
}
.nav-items__items:not(:last-child) {
  margin-bottom: 16px;
}
.nav-items__items:nth-child(1)::before {
  position: absolute;
  left: 25px;
  width: 14px;
  height: 16px;
  content: "";
  background-image: url("./images/todo-list.svg");
}
.nav-items__items:nth-child(2)::before {
  position: absolute;
  left: 25px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("./images/calendar.svg");
}
.nav-items__items:nth-child(3)::before {
  position: absolute;
  left: 25px;
  width: 12px;
  height: 16px;
  content: "";
  background-image: url("./images/Bell.svg");
}
.nav-items__items:nth-child(4)::before {
  position: absolute;
  left: 25px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("./images/planning.svg");
}
.nav-items__list--company {
  padding-left: 25px;
}
.nav-items__itemscompany:not(:last-child) {
  margin-bottom: 16px;
}
.nav-items__a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #686868;
  transition: color 0.3s ease 0.3s;
}
.nav-items__a:hover {
  color: #151515;
}
.header-nav__items--margi {
  margin-right: 40px;
}
.header-nav__items--margi:hover > .nav-items__list {
  display: block;
}
.header-nav__a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #686868;
  transition: color 0.3s ease 0.3s;
}
.header-nav__a:hover {
  color: #151515;
}
.header-nav__a--nav-a {
  padding-right: 17px;
}
.header-nav__a--nav-a::after {
  position: absolute;
  right: 0;
  top: 40px;
  background-image: url("./images/downafter.svg");
  width: 9px;
  height: 6px;
  content: "";
}
.header-nav__a--nav-a:hover::after {
  position: absolute;
  right: 0;
  top: 40px;
  background-image: url("./images/up-after.svg");
  width: 9px;
  height: 6px;
  content: "";
}
.header-div__login-div {
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 6px;
  transition: border 0.5s ease 0.1s, color 0.5s ease 0.1s;
}
.login-div__a {
  display: inline-block;
  padding: 13px 23px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #686868;
  border: 1.5px solid transparent;
  border-radius: 14px;
  transition: border 0.5s ease 0.1s, color 0.5s ease 0.1s;
}
.login-div__a:hover {
  color: #151515;
  border: 1.5px solid #686868;
  border-radius: 14px;
}
.intro {
  display: flex;
  justify-content: space-between;
  padding: 46px 95px 130px;
}
.intro__left-div {
  padding-top: 118px;
  width: 540px;
  transition: background-color 0.5s ease 0.1s, color 0.5s ease 0.1s;
}
.site-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 80px;
  line-height: 80px;
  color: #151515;
}
.intro__p-div {
  width: 445px;
}
.intro__p {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 18px;
  line-height: 28px;
  /* letter-spacing: 1px; */
  color: #686868;
}
.intro__a {
  display: inline-block;
  margin-bottom: 108px;
  padding: 14px 29px;
  text-decoration: none;
  background-color: #151515;
  color: #fafafa;
  border: 1px solid #151515;
  border-radius: 15px;
  transition: background-color 0.5s ease 0.1s, color 0.5s ease 0.1s;
}
.intro__a:hover {
  color: #151515;
  background-color: transparent;

}
.intro__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.intro__items--margi {
  margin-right: 40px;
}
.items__a {
  text-decoration: none;
}




